:root {
  --primary-color: #f9faf8;
  --secondary-color: #e5e7eb;
  --button-color: #3882f6;
  --quote-color: #1f2937;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #fefefe;
}

section {
  padding: 0 15vw 15vh;
}

#navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

#logo {
  margin: 0;
  padding: 2vh 0;
  font-size: 24px;
  color: var(--primary-color);
}

#navbar-links {
  display: flex;
  align-items: center;
}

.nav-link {
  padding-left: 1.5em;
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 18px;
}

.nav-link:hover {
  text-decoration: underline;
}

#hero,
footer {
  background: #1f2937;
  color: var(--secondary-color);
  font-size: 18px;
}

#hero-container {
  margin: 15vh auto 0;
  display: flex;
  justify-content: space-between;
}

.hero-subcontainer {
  width: 50%;
}

#hero-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hero-title {
  margin: 0;
  font-family: 'Comfortaa', cursive;
  font-size: 48px;
  font-weight: 800;
  color: var(--primary-color);
}

#hero-img-container {
  margin-left: 3vw;
}

#hero-img {
  width: 100%;
  height: auto;
}

.primary-cta {
  max-width: 160px;
  padding: 8px 32px;
  font-size: 20px;
  font-weight: 700;
  color: var(--primary-color);
  background-color: var(--button-color);
  border: 1px solid var(--button-color);
  border-radius: 8px;
}

.primary-cta:hover {
  cursor: pointer;
}

#quotes {
  background: var(--secondary-color);
}

.quote {
  font-size: 36px;
  font-style: italic;
  color: var(--quote-color);
}

#copyright {
  text-align: center;
}
